<button mat-raised-button class="btn_axn-pri" [ngStyle]="{'width': width}" [disabled]="disable || disabled">
  {{text}}
</button>



<!--
<div *ngIf="showVerify">
  <app-button-uniform disable="{{disableBtn}}" [disabled]="disableVerify" (click)="submit()">
    {{ 'login.action_verify' | translate }}
  </app-button-uniform>
</div>

<div *ngIf="showResend">

  <app-button-uniform disable="{{disableBtn}}" (click)="submit()" [text]=" 'login.action_resend' | translate ">
  </app-button-uniform>

</div>-->
