.spinner {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard-body {
  background-color: #f4f4f4;
  opacity: 100%;
  width: 100%;
  min-height: 95rem;
  margin: 0;
  padding: 0px 2vw;
  margin-bottom: -1rem;
}
.heading-row {
  display: flex;
  flex-wrap: wrap;
}
.heading {
  font: Bold 24px/12px Arial;
  font-size: 24px;
  color: #020F59;
  opacity: 100%;
  line-height: 20px;
  white-space: nowrap;
}
.spacer {
  flex: 1 1 auto;
}

img {
  padding-right: 5px;
}
.modify-info-btn {
  color: #020F59;
  border: 1px solid #020F59;
  border-radius: 0px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 10px;
  opacity: 100;
}
.modify-app-btn {
  color: #020F59;
  border: 1px solid #020F59;
  border-radius: 0px;
  margin-left: 12px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 10px;
  opacity: 100;
}
.create-app-btn {
  color: #ffffff;
  font-family: Roboto;
  background-color: #020F59;
  opacity: 90%;
  margin-left: 12px;
  font-size: 12px;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: none;
}
.card-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card-component {
  margin-top: 20px;
  padding-right: 45px;
}
.card-header {
  font-family: Roboto;
  font-size: 0.8rem;
  opacity: 100%;
  display: flex;
  background-color:#020F59;
  color: #f4f4f4;
  align-items: center;
}
.mat-card {
  width: 335px;
  height: 240px;
  padding: 0;
  opacity: 100%;
  border-radius: 0;
  border:solid 1px #e1effb;
}
.mat-card-content {
  margin-top: 20px;
}
.card-content {
  font-family: Roboto;
  color: #020F59;
  opacity: 90%;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 25px;
  width: 335px;
}

.mat-card table {
  max-width: 310px;
  table-layout: fixed;
}

.mat-card table tr td {
  padding: 8px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.mat-card-footer {
  margin-left: 18px;
  margin: -28px -16px -16px -2px;
}
.btn_axn-sec.page_btn{
  max-width: 200px !important;
  font-weight: bold;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
  0 2px 2px 0 rgba(0,0,0,.14), 
  0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
}
.footer-btn {
  font-size: 9px;
  margin: 2px;
  padding: 1px 10px 1px 10px;
  text-transform: none;
}
.download-btn-img {
  height: 14px;
}
.modifyinfo-btn-img {
  height: 14px;
}
.application-value {
  color: #020F59;
  padding-left: 10px;
  word-wrap: break-word;
  text-transform: uppercase;
}

.user__name--wordwrap {
  max-width: 20px;
}

.modify-app-img {
  height: 15px;
  transform: translateY(0.1rem);
}
.create-app-img {
  height: 11px;
}
.view-img {
  height: 18px;
}

#status {
  padding-left: 10px;
  text-transform: uppercase;
}
.buttons {
  margin-top: 1rem;
  margin: 1rem;
}
.checkbox {
  white-space: nowrap;
  margin-left: 10px;
  margin-right: -6px;
}
.footer-download-btn {
  margin-left: 18px;
}


mat-card-actions {
  margin-right: 14px;
  padding: 8px 0;
}

mat-card-content {
  padding-right: 16px;
}
.mat-checkbox-inner-container{
  background: #ffffff !important;
}
.mat-checkbox-frame{
  border-style: none;
}
.btn_axn-sec:disabled, .btn_axn-sec.page_btn:disabled{
  background: #BCE0FD !important;
  color: #020F59 !important;
  opacity: 0.5;
  font-weight: 700;
  margin-bottom: 1rem;
}
.btn_axn-pri{
  background: #BCE0FD !important;
  color: #020F59 !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
}
.btn_axn-pri[disabled]{
  background: #BCE0FD;
}
.appointement-button {
  min-height: 45px !important;
  max-height: 45px !important;
  max-width: 200px !important;
}

.page_btn_message {
  display: block;
  margin-top: -15px;
}

.page_btn_message_down {
  margin-top: -5px;
}

.btn_axn-pri[disabled]{
  background: #BCE0FD;
}
