<div class="spinner-wrapper" *ngIf="showSpinner"></div>
<div class="spinner-loading-data" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div>
  <div id="print-section" *ngIf="!showSpinner">
    <div class="print-section-inner-div" *ngFor="let user of usersInfo">
      <mat-card class="ack-container">
        <mat-card-header class="ack__header-container">
          <div class="ack__header">
            <h4>{{ 'acknowledgement.title' | translate }}</h4>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div id="message-container" class="ack__message-container">
            <p>
              <img style="vertical-align: middle;" src="assets/img/done.png" />&nbsp;&nbsp;{{
              'acknowledgement.message' | translate
              }}
            </p>
          </div>
          <div id="body-container" *ngIf="user.registrationCenter" class="ack__body-container">
            <div id="table-container">
              <table>
                <tr>
                  <td>{{ 'acknowledgement.label_name' | translate }}</td>
                  <td>:</td>
                  <td id="txt-cap">{{ user.firstName }}</td>
                </tr>
                <tr>
                  <td>{{ 'acknowledgement.label_lastname' | translate }}</td>
                  <td>:</td>
                  <td id="txt-cap">{{ user.lastName }}</td>
                </tr>
                <tr>
                  <td class="txtalign">{{ 'acknowledgement.label_pre_id' | translate }}</td>
                  <td class="txtalignpoint">:</td>
                  <td class="txtalign" >{{ user.preRegId }}</td>
                </tr>
                <tr>
                  <td>{{ 'acknowledgement.label_reg_cntr' | translate }}</td>
                  <td>:</td>
                  <td style="line-height: 14px;" id="txt-cap">
                    <p> {{ user.registrationCenter.name }},</p>
                    <p>{{ user.registrationCenter.addressLine1 }}, {{ user.registrationCenter.addressLine2 }}, {{ user.registrationCenter.addressLine3 }}</p>
                  </td>
                </tr>
                <tr>
                  <td class="txtalignbottom">{{ 'acknowledgement.label_cntr_contact_number' | translate }}</td>
                  <td class="point">:</td>
                  <td class="txtalignbottom">{{ user.registrationCenter.contactPhone }}</td>
                </tr>
                <tr>
                  <td style="width: 322px;">{{ 'acknowledgement.label_appointment_date_time' | translate }}</td>
                  <td>:</td>
                  <td id="txt-cap"> {{ user.bookingDataPrimary }} &nbsp;&nbsp;&nbsp;&nbsp;{{ user.bookingTimeFrenchFormat }} </td>
                </tr>
              </table>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div *ngIf="user.qrCodeBlob" id="qr-code-container" class="ack__qr-code">
              <img id="qr-code" src="data:image/png;base64,{{ user.qrCodeBlob }}" />
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer id="guidelines-container" class="ack__guidelines-container">
          <h4>{{ 'acknowledgement.container_guideline' | translate }}</h4>
          <div [innerHtml]="guidelines"> </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <div  *ngIf="!showSpinner">
    <div class="my-button-right">

      <button
              *ngIf="notificationTypes.length > 0 && notificationTypes[0] !== ''"
              matTooltip="{{ 'helpText.send_email/sms' | translate }}"
              mat-raised-button
              (click)="sendAcknowledgement()"
              class="ack-book_msg-btn btn_axn-pri step-demo-page-button-acknow"
      >
        {{ 'acknowledgement.action_sendmobile' | translate }}
      </button>

      <button
              *ngIf="notificationTypes.length > 0 && notificationTypes[0] !== ''"
              matTooltip="{{ 'helpText.send_email/sms' | translate }}"
              mat-raised-button
              (click)="sendAcknowledgement()"
              class="ack-book_later-btn btn_axn-pri step-demo-page-button-acknow"
      >
        {{ 'acknowledgement.action_send' | translate }}
      </button>

      <button mat-button (click)="download()" class="ack-book_later-btn btn_axn-pri step-demo-page-button-acknow">
        {{ 'acknowledgement.action_download' | translate }}
      </button>
      <button mat-raised-button (click)="download()" class="btn_axn-pri step-demo-page-button-acknow ack-book_later-btnm">
        {{ 'acknowledgement.action_downloadmobile' | translate }}
      </button>

      <button
              mat-raised-button
              [printStyle]="{
        '#message-container': { display: 'none' },
        '#body-container': { display: 'flex', 'flex-wrap': 'wrap', width: '100%' },
        '#table-container table tr td': { padding: '10px' },
        '#print-section': { 'page-break-after': 'always' },
        '.print-section-inner-div': { 'page-break-after': 'always' }
      }"
              printSectionId="print-section"
              ngxPrint
              class="btn_axn-pri step-demo-page-button-acknow"
      >
        {{ 'acknowledgement.action_print' | translate }}
      </button>
    </div>
  </div>
</div>
