
.alertBox{
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 1.5;
	-fx-effect: dropshadow(three-pass-box, grey, 1, 1, 1, 1);
}
.alertBoxold{
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 1.5;
	-fx-effect: dropshadow(three-pass-box, grey, 1, 0, 0, 0);
}
.dialog-pane:header .header-panel .label{
	-fx-text-fill: #020F59;
	-fx-font-size:28.0px;
	-fx-padding:20.0 0.0 0.0 10.0
}
.dialog-pane > .content.label {
	-fx-text-fill:#666666;
	-fx-font-size:14.0px;
	-fx-padding:0.0 0.0 20.0 20.0
}

.alertHeader{
	-fx-text-fill:#020F59;
	-fx-font-size:28.0px;
}

.alertContext{
	-fx-text-fill:#666666;
	-fx-font-size:14.0px;
}
#alertImage{
	-fx-background-size: 90.0px 90.0px;
}


.dialog-pane{
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 2.0;
	/* -fx-effect: dropshadow(three-pass-box, #BCE0FD, 1 , 1, 1, 1) ;*/
	  -fx-border-color:#BCE0FD;}

.dialog-pane .button{
	-fx-background-color:#BCE0FD;
	-fx-text-fill: #020F59;
}
.dialog-pane .button:hover{
	-fx-background-color:#FFFFFF;
	-fx-border-color:#020F59;
	-fx-text-fill: #020F59;
	-fx-font-size: 12px;
}

.dialog-pane:header .header-panel {
	-fx-background-color: #FFFFFF;
}
