.buorg {
    position: absolute;
    z-index: 111111;
    width: 350px;
    text-align: center;
    color: #020F59 !important;
    background-color: #fff !important;;
    font-family: Arial, Helvetica, Calibri, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    animation: 1s ease-out 0s buorgfly;
    border: none;
}

.buorg-pad {
    padding: 9px;
    line-height: 1.7em;
}

.buorg-buttons {
    display: block;
    text-align: center;
}

#buorg-buttons {
    padding-top: 5px;
}
#buorgig, #buorgul, #buorgpermanent {
    color: #020F59 !important;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: normal;
    background: #BCE0FD !important;
    margin-left: 8px !important;
    padding-top: 5px !important;
    height: 30px;
    white-space: nowrap;
    border: none;
}

#buorgig {
    background-color: #edbc68;
}

@media only screen and (max-width: 700px) {
    .buorg div {
        padding: 5px 12px 5px 9px;
        line-height: 1.3em;
    }
}

@keyframes buorgfly {
    from {
        opacity: 0;
        transform: translateY(-50px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.buorg-fadeout {
    transition: visibility 0s 8.5s, opacity 8s ease-out .5s;
}

.buorg-icon {
    width: 22px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -0.05em;
    display: inline-block;
    background: no-repeat 0px center;
}

.cancel {
    background: red;
    color: white;
}

.button-center {
    margin-top: 15px;
    display: flex;justify-content: center;align-items: center;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
