<div class="spinner" *ngIf="!dataIncomingSuccessful && !hasError">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="(dataIncomingSuccessful) || hasError">
    <div class="wrapper">
        <div class="user">
            <form [formGroup]="userForm" class="user__form" (keydown.enter)="onEnterDown($event)" #form>
                <div [dir]="textDir" class="user__container card">

                    <h4 id="titleposition" class="titlecolor">{{ 'demographic.personnal_infos_section_title' | translate }}</h4>
                    <mat-label class="champs"> <span class="mandatory">*</span> : {{ 'demographic.champs_oblig' | translate }} </mat-label>
                    <br/>
                    <div class="row">
                        <div class="col-50" style="padding-left: 2px">
                            <mat-form-field>
                                <mat-label>{{ 'demographic.label_first_name' | translate }} <span class="mandatory">*</span></mat-label>
                                <input
                                        class="tabulation"
                                        tabindex="1"
                                        id="firstName"
                                        matInput
                                        #firstName
                                        placeholder="prénom"
                                        [formControlName]="formControlNames.firstName"
                                />
                                <mat-error *ngIf="!firstName.invalid">
                                    Prénom requis
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-50">
                            <mat-form-field>
                                <mat-label>{{ 'demographic.label_last_name' | translate }} <span class="mandatory">*</span></mat-label>
                                <input
                                        class="tabulation"
                                        tabindex="2"
                                        id="lastName"
                                        matInput
                                        #lastName
                                        placeholder="nom de famille"
                                        [formControlName]="formControlNames.lastName"
                                />
                                <mat-error *ngIf="!lastName.invalid">
                                    Nom de famille requis
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!--Date right-->
                    <div class="row" style="font-size: 15px; font-family: Roboto; margin-top: 12px">
                        <div class="col-50" >
                            <div class="row">
                                <mat-label class="col-50-use label-date" style="padding-left: 3px; margin-top: 13px;">
                                    <span class="half-plus">{{ 'demographic.text_date' | translate }}</span>
                                    <span class="mandatory half"> *</span>
                                </mat-label>


                                <div class="col-50-use">
                                    <mat-form-field class="col-auto-jj" style="margin-top: 7px">
                                        <mat-label class="label-date">{{ 'demographic.date_dd' | translate }}</mat-label>
                                        <input
                                                class="tabulation"
                                                tabindex="3"
                                                matInput
                                                id="dd"
                                                placeholder="JJ"
                                                #dd
                                                [formControlName]="formControlNames.date"
                                                (focusout)="onDOBChange()"
                                        />
                                    </mat-form-field>
                                    <p>/</p>
                                    <mat-form-field class="col-auto-mm" style="margin-top: 7px">
                                        <mat-label class="label-date">{{ 'demographic.date_mm' | translate }}</mat-label>
                                        <input
                                                class="tabulation"
                                                tabindex="4"
                                                matInput
                                                id="mm"
                                                placeholder="MM"
                                                #mm
                                                [formControlName]="formControlNames.month"
                                                (focusout)="onDOBChange()"
                                        />
                                    </mat-form-field>
                                    <p>/</p>
                                    <mat-form-field class="col-auto-aaaa" style="margin-top: 7px">
                                        <mat-label class="label-date">{{ 'demographic.date_yyyy' | translate }} </mat-label>
                                        <input
                                                class="tabulation"
                                                tabindex="5"
                                                matInput
                                                placeholder="AAAA"
                                                id="yyyy"
                                                #yyyy
                                                [formControlName]="formControlNames.year"
                                                (focusout)="onDOBChange()"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <div class="row">
                                    <div class="col-auto or_text">
                                        <p>{{ 'demographic.text_or' | translate }}</p>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field style="margin-top: 7px">
                                            <mat-label class="label-date">{{ 'demographic.label_age' | translate }}  <span class="mandatory">*</span></mat-label>
                                            <input
                                                    class="tabulation"
                                                    tabindex="6"
                                                    matInput
                                                    id="age"
                                                    [formControlName]="formControlNames.age"
                                                    placeholder="{{ 'demographic.label_age' | translate }}"
                                                    #age
                                                    (focusout)="onAgeChange()"
                                            />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <p>
                                            {{ 'demographic.text_years' | translate }}
                                        </p>
                                    </div>

                        </div>

                </div>
                <div class="mat-error user__dob__error"
                *ngIf="
                (userForm.get(formControlNames.dateOfBirth).touched &&
                userForm.get(formControlNames.dateOfBirth).hasError('incorrect')) ||
                (userForm.get(formControlNames.age).touched && 
                !userForm.get(formControlNames.age).valid)"
                >
                {{ 'demographic.validation.DOB_validation' | translate }}
                </div>


                    <div class="user__genderAndForeigner user__dropdown col-50">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.text_gender' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                                    class="tabulation"
                                    tabindex="7"
                                    id="gender"
                                    #gender
                                    [formControlName]="formControlNames.gender"
                                    (selectionChange)="onGenderChange(genders, $event)"
                                    placeholder="{{ 'demographic.text_gender' | translate  }}"
                                    appearance="legacy"
                                    name="fontStyle"
                                    aria-label="Font Style"

                                >
                                <mat-option *ngFor="let gender of genders" [value]="gender.code">
                                    {{ gender.genderName }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf=" userForm.get(formControlNames.gender).touched && userForm.get(formControlNames.gender).invalid">
                                {{ 'demographic.validation.gender_validation' | translate }}</mat-error>
                        </mat-form-field>
                    </div>


                        <div style="margin-left: 7px;" class="user__genderAndForeigner rstatus user__dropdown col-50">

                        <mat-form-field>
                            <mat-label>{{ 'demographic.text_residence_status' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                                    class="tabulation"
                                    tabindex="8"
                                    id="nationnality"
                                    #nationnality
                                    [formControlName]="formControlNames.residenceStatus"
                                    (change)="onResidenceStatusChange(residenceStatus, $event)"
                                    placeholder="{{ 'demographic.text_residence_status' | translate }}"
                                    appearance="legacy"
                                    name="fontStyle"
                                    aria-label="Font Style"

                            >
                                <mat-option *ngFor="let resident of residenceStatus" [value]="resident.code">
                                    {{ resident.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="userForm.get(formControlNames.residenceStatus).touched &&
                                            userForm.get(formControlNames.residenceStatus).invalid">
                                {{ 'demographic.validation.nationality_validation' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                        <h4 style="margin-top: 15px;" class="titlecolor posmobile">{{ 'demographic.contact_section_title' | translate }}</h4>

                        <div class="row">
                            <div class="user__dropdown col-50">
                                <mat-form-field>
                                    <mat-label>{{ 'demographic.label_mob_num' | translate }}</mat-label>
                                    <input
                                            class="tabulation"
                                            tabindex="9"
                                            id="phone"
                                            matInput
                                            #mobileNumber
                                            type=""
                                            maxlength="{{ MOBILE_LENGTH }}"
                                            placeholder="{{ 'demographic.label_mob_num' | translate }}"
                                            [formControlName]="formControlNames.phone"
                                    />
                                    <mat-error *ngIf="!mobileNumber.invalid">{{
                                        'demographic.validation.mobile_required' | translate
                                        }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div style="margin-left: 8px"  class="user__dropdown mail col-50">
                                <mat-form-field>
                                    <mat-label>{{ 'demographic.label_email_id' | translate }}</mat-label>
                                    <input
                                            class="tabulation"
                                            tabindex="10"
                                            id="email"
                                            #email
                                            type="text"
                                            maxlength="{{ EMAIL_LENGTH }}"
                                            matInput
                                            placeholder="{{ 'demographic.label_email_id' | translate }}"
                                            [formControlName]="formControlNames.email"
                                    />
                                    <mat-error *ngIf="!email.invalid">{{ 'demographic.validation.email_required' | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                </div>
                </div>

                <div [dir]="textDir" class="user__container card">
                    <h4 id="titleposition" class="titlecolor">{{ 'demographic.address_section_title' | translate }}</h4>
                    <br/>
                    <div class="user__dropdown col-50">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_region' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                            class="tabulation"
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, prefectures, regions, formControlNames.prefecture)"
                                    placeholder="Région"
                                    [formControlName]="formControlNames.region"
                                    #region
                                    id="region"
                            >
                                <mat-option *ngFor="let region of regions" [value]="region.valueCode">{{
                                    region.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!region.invalid">
                                Veuillez sélectionner une region
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="user__dropdown col-50">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_prefecture' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                            class="tabulation"
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, subPrefectureOrCommunes, prefectures, formControlNames.subPrefectureOrCommune)"
                                    placeholder="Préfecture"
                                    [formControlName]="formControlNames.prefecture"
                                    #prefecture
                                    id="pref"
                            >
                                <mat-option *ngFor="let prefecture of prefectures" [value]="prefecture.valueCode">{{
                                    prefecture.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!prefecture.invalid">
                                Veuillez sélectionner une prefecture
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 17px;" class="user__dropdown col-50">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_subprefectureOrCommune' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                            class="tabulation"
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, districts, subPrefectureOrCommunes, formControlNames.district)"
                                    placeholder="Sous-préfecture ou Commune"
                                    [formControlName]="formControlNames.subPrefectureOrCommune"
                                    #subprefecture
                                    id="subpref"
                            >
                                <mat-option *ngFor="let subprefecture of subPrefectureOrCommunes" [value]="subprefecture.valueCode">{{
                                    subprefecture.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!subprefecture.invalid">Veuillez sélectionner une sous prefecture</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="user__dropdown col-50">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_district' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                            class="tabulation"
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, sectors, districts, formControlNames.sector)"
                                    placeholder="District"
                                    [formControlName]="formControlNames.district"
                                    #district
                                    id="district"
                            >
                                <mat-option *ngFor="let district of districts" [value]="district.valueCode">{{
                                    district.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!district.invalid">Veuillez sélectionner un district</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 10px;" class="user__dropdown col-50">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_sector' | translate }} <span class="mandatory">*</span></mat-label>
                            <mat-select
                            class="tabulation"
                                    disableOptionCentering
                                    (selectionChange)="onLocationSelect($event, null, sectors)"
                                    placeholder="Secteur"
                                    [formControlName]="formControlNames.sector"
                                    #sector
                                    id="sector"
                            >
                                <mat-option *ngFor="let sector of sectors" [value]="sector.valueCode">{{
                                    sector.valueName
                                    }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!sector.invalid">Veuillez sélectionner un secteur</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-top: 53px;">
                        <mat-form-field>
                            <mat-label>{{ 'demographic.label_additionalAddressDetails' | translate }}
                            </mat-label>
                        <input
                        class="tabulation"
                             id="complement"
                             #additionalAddressDetails
                             type="text"
                             placeholder="{{'demographic.label_additionalAddressDetails' | translate}} - {{ 'helpText.info' | translate }}"
                             matInput
                             maxlength="40"
                             [formControlName]="formControlNames.additionalAddressDetails"
                            />
                        </mat-form-field>
                    </div>
                </div>

                <div class="user__buttons">

                        <button
                                class="btn_axn-pri  step-demo-page-button-form"
                                mat-raised-button
                                *ngIf="!showPreviewButton"
                                type="button"
                                [disabled]="!dataUploadComplete"
                                (click)="onSubmit($event)"
                        >
                            {{ 'demographic.action_continue' | translate }}
                        </button>

                    </div>
            </form>
        </div>


    </div>

</div>
