<div class="main-footer">
  <p>
    <span class="unirtext"> &copy;UNIR</span>
    <span class="version-txt">Pré-enregistrement  version: {{appVersion}}</span>
    <span class="droittext">Tous droits réservés</span>
  </p>
  <a><img src="assets\iconinstagram.png" class="iconinstagram" style="max-height: 18px"/></a>
  <a href="https://twitter.com/WuriGn_TechTeam"><img src="assets\icontwitter.png" class="icontwitter" style="max-height: 18px"/></a>
  <a href="https://www.facebook.com/Programme-Wuri-Guinee-Tech-team-105810381250275 "><img src="assets\iconfb.png" class="logofb" style="max-height: 18px"/></a>
</div>


