
<div *ngIf="!spinner">
  <mat-card class="time-selection__title-card">
    <mat-card-header>
      <p class="time-selection__title-card-text">
        {{ 'timeSelection.title_book' | translate }}
        <mat-icon class="icon mobiletooltip" matTooltip="{{ 'helpText.bookAppointment' | translate }}" [inline]="true">help_outline
        </mat-icon>
      </p>
    </mat-card-header>
    <div class="spinner" *ngIf="spinner">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div id="legend-step">
    <p>  &nbsp; {{ 'timeSelection.text_step1' | translate }}
    </p> 
    <p>  &nbsp; {{ 'timeSelection.text_step2' | translate }}</p> 
    </div>
    <mat-card class="time-selection__date-card  positionnement">
      <div *ngIf="availabilityData.length !== 0">
        <div class="container">
          <div id="leftbutton" class="time-selection__arrow-text">
            <p class="prevlong"(click)="scrollLeft()">{{ 'timeSelection.text_prev' | translate }}</p>
            <p class="prevshort" (click)="scrollLeft()">{{ 'timeSelection.text_prevsmall' | translate }}</p>
          </div>
          <div class="left-button">
            <a (click)="scrollLeft()"><img class="leftarrow" src="assets/Backward_arrow.png" /></a>
          </div>
          <div #widgetsContent class="middle">
            <mat-card *ngFor="let data of availabilityData | slice: 0:days; let i = index"
              [ngClass]="data.holiday ? 'sizing disabled' : selectedTile === i ? 'sizing selected' : 'sizing'"
              (click)="dateSelected(i)">
              <mat-card-content class="time-selection__date box-content">
                <p class="time-selection__tile-date">{{ data.displayDate }}</p>
                <p class="time-selection__tile-date-text">{{ data.displayDay }}</p>
                <p class="time-selection__tile-availability-text">
                 {{getNbBookings(data) }} {{ 'timeSelection.text_reserved' | translate }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="right-button">
            <a (click)="scrollRight()"><img class="rightarrow" src="assets/Forward_arrow.png" /></a>
          </div>
          <div id="rightbutton" class="time-selection__arrow-text">
            <p  class="nextlong"(click)="scrollRight()">{{ 'timeSelection.text_next' | translate }}</p>
            <p class="nextshort" (click)="scrollRight()">{{ 'timeSelection.text_nextsmall' | translate }}</p>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="time-seelection__slot-groups-div">
      <a (click)="tabSelected('morning')" [ngClass]="
          activeTab === 'morning' ? 'time-seelection__slot-groups-div-selected' : 'time-seelection__slot-groups-div a'
        ">{{ 'timeSelection.text_morning' | translate }}</a>
      <a (click)="tabSelected('afternoon')" [ngClass]="
          activeTab === 'afternoon' ? 'time-seelection__slot-groups-div-selected' : 'time-seelection__slot-groups-div a'
        ">{{ 'timeSelection.text_afternoon' | translate }}</a>
    </div>
    <div class="time-selection__slots-div">
      <mat-card class="time-selection__time-slots-container">
        <div class="container-card">
          <div *ngIf="availabilityData[selectedTile] !== undefined" #cardsContent class="middle-card">
            <div *ngFor="let data of availabilityData[selectedTile].timeSlots; let i = index">
              <mat-card *ngIf="data.tag === activeTab"
                [ngClass]="selectedCard === i ? 'card card-content selected-card' : 'card card-content'"
                (click)="cardSelected(i)">
                <mat-card-content style="width:100%"
                [ngClass]="{
                  'blueslot' : availabilityData[selectedTile].timeSlots[i].names.length !== 0
               }">
                  <p class="card-time-text">
                    {{ data.displayTime }}
                  </p>
                  <p [ngClass]="selectedCard === i ? 'card-slot-text-selected' : 'card-slot-text'">
                    ( {{ data.availability }} )
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card class="time-selection__names-container">
        <div  class="applicants_card appcard">
          <div class="time-selection__name-list-header">
            {{ 'timeSelection.text_available' | translate }}
            <mat-icon class="icon mobiletooltip" matTooltip="{{ 'helpText.etape1' | translate }}" [inline]="true">help_outline
            </mat-icon>
          </div>
          <div>
            <table class="time-selection__name-list">
              <tr class="placeholder" *ngIf="deletedNames.length == 0"><i>{{ 'timeSelection.applicant_available_list_empty' | translate }}</i></tr>
               <tr class="time-selection__name-list-item" *ngFor="let item of deletedNames; let k = index">
                <td>{{ item.fullName }}</td>
                <td>
                  <mat-icon (click)="addItem(k)"
                    [ngClass]="disableAddButton ? 'name-delete-button disable_add' : 'name-delete-button'">add</mat-icon>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="appcard" *ngIf="availabilityData[selectedTile] !== undefined && selectedCard !== undefined">
          <div class="time-selection__name-list-header">
            <div >
              <span *ngIf="availabilityData[selectedTile].timeSlots[selectedCard].names.length !== 0" 
              class="compteur">({{availabilityData[selectedTile].timeSlots[selectedCard].names.length }})</span>
            </div>
            <span class="time-selection__names-header-date-text">{{ availabilityData[selectedTile].displayDate }}</span>,
            <span
              class="time-selection__names-header-time-text">{{availabilityData[selectedTile].timeSlots[selectedCard].displayTime}}</span>
              <mat-icon class="icon mobiletooltip" matTooltip="{{ 'helpText.etape2' | translate }}" [inline]="true">help_outline
              </mat-icon>
            </div>
          <table class="time-selection__name-list">
            <tr class="placeholder" *ngIf="availabilityData[selectedTile].timeSlots[selectedCard].names.length === 0"><i>{{ 'timeSelection.applicant_selected_list_empty' | translate }}</i></tr>
            <tr class="time-selection__name-list-item" 
              *ngFor="let item of availabilityData[selectedTile].timeSlots[selectedCard].names; let j = index">
              <td>{{ item.fullName }}</td>
              <td>
                <mat-icon (click)="itemDelete(j)" class="name-delete-button">close</mat-icon>
              </td>
            </tr>
          </table>
        </div>
  
      </mat-card>
    </div>
  </mat-card>

  <mat-card class="time-selection__button-container">
    <button mat-raised-button (click)="navigateBack()"
            class="btn_axn-pri step-demo-page-button-time-selection">
      {{ 'timeSelection.action_back' | translate }}
    </button>
    <span class="spacer"></span>
    <button mat-raised-button (click)="navigateDashboard()"
            class="btn_axn-pri step-demo-page-button-time-selection mar_right-r25">
      {{ 'timeSelection.action_bookLater' | translate }}
    </button>
    <button mat-raised-button [disabled]="deletedNames.length > 0" (click)="makeBooking()" class="btn_axn-pri step-demo-page-button-time-selection" [ngClass]="deletedNames.length > 0 ? 'disabled_btn' : 'user-continue-btn-normal'">
      {{ 'timeSelection.action_continue' | translate }}
    </button>
  </mat-card>
</div>
